@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src:
    url(./fonts/Pretendard/woff2-subset/Pretendard-Black.subset.woff2) format('woff2'),
    url(./fonts/Pretendard/woff-subset/Pretendard-Black.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    url(./fonts/Pretendard/woff2-subset/Pretendard-Bold.subset.woff2) format('woff2'),
    url(./fonts/Pretendard/woff-subset/Pretendard-Bold.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    url(./fonts/Pretendard/woff2-subset/Pretendard-Medium.subset.woff2) format('woff2'),
    url(./fonts/Pretendard/woff-subset/Pretendard-Medium.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    url(./fonts/Pretendard/woff2-subset/Pretendard-Regular.subset.woff2) format('woff2'),
    url(./fonts/Pretendard/woff-subset/Pretendard-Regular.subset.woff) format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  min-height: 100vh;
  width: 100%;

  /* iOS / 모바일 높이 문제 대응 */
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
}

/* 전체 스크롤 숨기기 (필요시) */
/*
.scrollbar-none {
  overflow: hidden;
}
*/

/* 세로 스크롤 숨기기 */
.scrollbar-none {
  overflow-y: hidden; /* 세로 스크롤 제거 */
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  width: 0; /* Chrome, Safari 등 Webkit 브라우저에서 스크롤바 숨기기 */
}

/* 기존 가로 스크롤 숨기기 */
.scrollbar-none-x {
  overflow-x: hidden; /* 가로 스크롤 제거 */
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-none-x::-webkit-scrollbar {
  height: 0; /* 가로 스크롤바 숨기기 */
}
